{% extends 'base.html' %}

{% block head %}
<title>Update</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Appointment</h1>

    <div class="form">
        <form action="/update/{{change.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{change.content}}">
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}